@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Html.ActionLink("Register New Cart Rent", "", "Reservations/Create")</li>
        <li class="list-group-item">@Html.ActionLink("Update Cart Rent", "", "Reservations/Edit/24")</li>
        <li class="list-group-item">@Html.ActionLink("Rents List", "", "Reservations/ListRents")</li>
        <li class="list-group-item">@Html.ActionLink("Cancel Reservation", "", "Reservations/CancelReservation")</li>
        <li class="list-group-item">@Html.ActionLink("Available Cars List", "", "Cars/SubmitCondition")</li>
        <li class="list-group-item">@Html.ActionLink("Register New Customer", "", "Customers/Create")</li>
        <li class="list-group-item">@Html.ActionLink("Update Customer", "", "Customers/Edit")</li>
        <li class="list-group-item">@Html.ActionLink("Customers List", "", "Customers/CustomerList")</li>
    </ul>
</div>
