@model IEnumerable<RentC.UI.Models.Reservations>

@{
    ViewBag.Title = "Reservations List";
}

<h2>Reservations List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cars.Plate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationStatuses.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Cars.Plate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customers.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReservationStatuses.Name)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.ReservationID })
    </td>
</tr>
}

</table>
